/*-----------------------------GENERAL-------------------------------------*/
/*
Light Gray: rgb(241,239,237);
Light Gray Shadow: rgb(162,161,156);
Dark Gray: rgb(66,69,63);
Dark Gray Shadow: rgb(23,27,20);
*/
*{
	padding:0;
	margin:0;
}
html{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
/*LINE*/
hr{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    size: 1px;
    color: rgb(66,69,63);
}
/*--------------------------------HEADER-----------------------------------*/
.navbar-default{
	background-color: white;
	border-color: transparent;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	height: 60px;
}

.navbar-nav li a {
	margin-top: 4px;
}
.navbar-default .navbar-nav > li > a{
	color: rgb(180,180,180);
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: rgb(66,69,63);
	transition: all .2s ease-in-out 0s;
	-webkit-transition: all .2s ease-in-out 0s;
}
.activelink{
	color:rgb(66,69,63);
	font-weight: bold;
	border-bottom:2px solid rgb(66,69,63);
}
/*SITEID*/
.siteID{
	width:210px;
	margin-top:-3px;
	display:inline-block;
	z-index: 99;
}
.siteID:hover{
}
/*NAVBAR COLLAPSE SUBMENU*/
nav div div div ul{
	text-align:right;
	padding-right:15px;
}
.navbar-toggle{
	margin-top: 12px;
}
.navbar-toggle:hover{
	
}
.navbar-collapse{
	background-color: white;
}


/*---------------------------------MAIN--------------------------------*/
main{
	margin-top:60px;
}

/*---------------------------------PORTFOLIO MAIN--------------------------------*/
#myCarousel{
	margin-top:20px;
}
#avatarDiv{
	margin-top:50px;
}
.avatar{
	padding-bottom: 2.2em;
}
.avatar a:hover img {
	opacity:0.4;  filter:alpha(opacity=30);
	transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
}
/*---------------------------------PORTFOLIO SECTION--------------------------------*/
.work{
	padding-top:50px;
}
/*IMAGE CONTENT*/
.imgDiv{
	padding-bottom:1em;
}
.imgDiv .img-responsive{
	width:100%;
	border-style: solid;
	border-color: rgb(180,180,180);
	border-width: 1px;
}
/*TEXT CONTENT*/
h1{
	font-size: 2em;
	font-weight: bold;
	color: rgb(132,131,126);
	font-family: 'Nova Square', cursive;
}
h6{
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(122,121,116);
}
.description{
	vertical-align: text-top;
	padding: 0em 0em 2em 0em;
}
.description p{
	font-size: 1.2em;
	color: rgb(122,121,116);
	
	font-family: 'Open Sans', sans-serif;
	line-height:180%;
}
/*TEXT LINK*/
.sourceLink, .sourcLink:visited{
	color: rgb(122,121,116);
	text-decoration: underline;
	font-variant: small;
}
.sourceLink:hover{
	color: rgb(66,69,63);
	text-decoration: none;
}
/*BUTTON ICONS*/
.portfolioButton{
	width:30px;
	margin: 3em 1em 2em 1em;
	opacity:1;
}
#buttonSection a:hover img {
	opacity:0.4;  
	transition: all .2s ease-in-out 0s;
	-webkit-transition: all .2s ease-in-out 0s;
}
#upButton{
	width:40px;
	position:fixed;
	bottom:6%;
	right:6%;
	opacity:0.4;
}
#upButton:hover{
	opacity:1;
	transition: all .2s ease-in-out 0s;
	-webkit-transition: all .2s ease-in-out 0s;
}
#upButton:visited{
	opacity:0.4;
}
/*---------------------------------ABOUT--------------------------------*/
#pc{
	text-align: right;
	color:gray;
}
/*---------------------------------CONTACT--------------------------------*/
/*FORM*/
#form{
	color:black;
	font-size: 1em;
}
.formLabels{
	color: white;
}


/*---------------------------------FOOTER--------------------------------*/
footer{
	margin-top: 10%;
	width:100%;
	background-color: rgb(66,69,63);
}
#cr{
	padding:20px;
	padding-left: 0;
	font-family: 'Open Sans', sans-serif;
	color: rgb(241,239,237);
	font-size: 0.8em;
}





