/*------------------------------------------RESET-------------------------------------------*/
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
	color:rgb(57,45,37);
}
/*-----------------------------------------GENERAL------------------------------------------*/
/*COLORS
dark gray: rgb(57,45,37) 
*/
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
a, a:visited{
	color: rgb(57,45,37);
	text-decoration:none;
}
a:hover{
	color:red;
	text-decoration: none;
}
hr{
	border:none;
	border-bottom:2px solid rgb(57,45,37);
	width:100%;
	padding-top: 30px;
}
ul{
	list-style-type: none;
}
.img-responsive{
	width:100%;
}
h1{
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	font-weight: 700;
}
/*-----------------------------------------HEADER-------------------------------------------*/
header{
	padding: 2% 5% 0% 5%;
}
nav{
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	font-weight: 700;
	margin-bottom:20px;
	vertical-align: middle;
}
#siteid{
	width:80px;
}
table {
	border: 2px solid rgb(57,45,37);
	border-radius: 10px;
}
td {
    border: 2px solid rgb(57,45,37) ;
    text-align: center;
    padding: 0 15px 0 15px;
}

/*
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}
table tr:first-child td:last-child {
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px
}
table tr:first-child td:first-child {
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px
}
nav ul{
	list-style-type:none;
}
nav li{
	padding: 5px 15px 5px 15px;
	display:inline-block;
	border: 2px solid rgb(51,51,51);
	margin:-1px -5px 0 0;
}
nav li:hover{
	border-color:red;
	z-index:99;
	text-decoration: none;
}
.nav-active-link{
	color:red;
}
.nav-active-border{
	border-color:red;
}*/
/*------------------------------------------FOOTER------------------------------------------*/
footer{
	padding: 2% 5% 2% 5%;
	font-size: .8em;
}
/*-------------------------------------------MAIN-------------------------------------------*/
main{
	padding: 0% 5% 2% 5%;
}
/*CATEOGRY PAGES*/
.container{
	padding:0;
}
.container .row div{ /*adds spacing below squares on category pages*/
	margin-bottom:20px;
}
.avatar{
	border-radius: 15px;
	background-color: rgb(57,45,37);
}
.avatar img{
	border: 2px solid rgb(57,45,37);	
	border-radius: 15px;
}
.avatar img:hover{
	opacity:0;

}

/*SLIDESHOW PAGES*/
#mobile-img img{
	margin-bottom: 3%;
}
#description-container{
	width:80%;
	margin:auto;
}
#description-container div:first-child{
	width:20%;
	display: inline-block;
	vertical-align: top;
	margin-right: 5%;
}
#description-container div:nth-child(2){
	width:74%;
	display:inline-block;
	vertical-align: top;
}
/*---------------------------------------HOMEPAGE--------------------------------------------*/
#nametag{
	display:block;
	position:fixed;
	z-index: 1;
}
#nametag-content{
	display: block;
	position:relative;
	z-index: -2;
}
#homelist{
	font-family: 'Amatic SC', cursive;
	line-height: 150%;
	display:block;
	position: relative;
	margin:auto;
	padding-top: 2%;
	text-align: center;
	z-index: 20;
	padding-bottom: 10%;

}
.homelist-link, .homelist-link:hover{
	font-weight: 700;
	text-decoration: none;
}
.homelist-nolink{

}
#home-footer{
}
/*--------------------------------ABOUT PAGE------------------------------*/
#about-photo{
	width:100%;
	margin:auto;
	border: 2px solid rgb(57,45,37);	
	border-radius: 15px;
}
#about-container div:first-child{
	float:left;
	width:35%;
	margin-right:5%;
}
#about-container div:nth-child(2){
	float:left;
	width:60%;
}

/*--------------------------------MEDIA QUERIES---------------------------*/
/*LARGE DESKTOP*/
@media only screen and (min-width : 1201px) {
#nametag, #nametag-content{
	width:50%;
	left:25%;
}

#homelist{
	font-size: 3em;
}
.desktop-display{
	display:block;
}
.mobile-display{
	display:none;
}
}
/*REGULAR DESKTOP*/
@media only screen and (max-width : 1200px) {
#nametag, #nametag-content{
	width:60%;
	left:20%;
}
#homelist{
	font-size: 2.5em;
}
.desktop-display{
	display:block;
}
.mobile-display{
	display:none;
}
}
/*TABLET*/
@media only screen and (max-width : 979px) {
#nametag, #nametag-content{
	width:70%;
	left:15%;
}
#homelist{
	font-size: 2em;
}
.desktop-display{
	display:none;
}
.mobile-display{
	display:block;
}
#description-container{
	width:90%;
}
}
/*MOBILE*/
@media only screen and (max-width : 480px) {
#nametag, #nametag-content{
	width:90%;
	left:5%;

}
#homelist{
	font-size: 2em;
}
.desktop-display{
	display:none;
}
.mobile-display{
	display:block;
}
#description-container{
	width:90%;
}
}
